<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
      
      <add key="ConfigSiteUrl" value="https://abc.sharepoint.com/sites/SST" />
      
      <!-- Site Dev -->
      <!--<add key="ConfigSiteUrl" value="https://abc.sharepoint.com/sites/PLS-stg" />-->
      
      
      <!--If application is deployed in Azure, need to specify the time zone-->  
      <add key="WEBSITE_TIME_ZONE" value="Pacific Standard Time" />
      
      <!--Only those items which are modified by this interval (day) will be fetched--> 
      <add key="DataModificationInterval" value="1" />
      
      <!--Add CC recipients in the notification email if true--> 
      <add key="CCinEmail" value="false" />
      
      <!--Success email will be turend off if true--> 
      <add key="DisableSuccessEmail" value="false" />
      
      <!--For creating ticket at it-support--> 
      <!--<add key="IT_SUPPORT_ADDRESS" value="abedin@abc.com" />-->  <!--Dummy address for testing purpose--> 
      <add key="IT_SUPPORT_ADDRESS" value="it-support@abc.com" />
      
      <!--Certificate ThumbPrint -->
      <add key="CertificateThumbPrint" value="" />
      
      <!--Azure AD App Client ID-->
      <add key="AADAppClientID" value="bdebf437-b5d7-4c49-8c31-bac36ba0ab34" />
      
      <!--Tenant-->
      <add key="Tenant" value="abc.onmicrosoft.com" />

      <add key="ExchangeUrl" value="https://outlook.office365.com/ews/Exchange.asmx" />
      <add key="ExchangeAccount" value="sp_audit@global.abc.com" />
      <add key="ExchangeAccountPass" value="Napa@1234" />
      <add key="EmailClientId" value="" />
      <add key="EmailTenantId" value="" />
      <!--Exchange Dev--> 
      <!--<add key="ExchangeUrl" value="https://outlook.office365.com/ews/Exchange.asmx" />
      <add key="ExchangeAccount" value="np_SPTestUser1@global.abc.com" />
      <add key="ExchangeAccountPass" value="@#68C3=jw$e}4%" />
      <add key="EmailClientId" value="0a8e9707-b921-4b85-b20a-26fabacdf79f" />
      <add key="EmailTenantId" value="d36035c5-6ce6-4662-a3dc-e762e61ae4c9" />-->
      
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>